/* BLOG
======================*/

.blog {
    margin-bottom: 60px;
}
.blog__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 15px;
    margin-top:-4px;
    margin-left: 2px;
    text-transform: uppercase;
}
.blog__select {
    margin-bottom: 50px;
    margin-left: 1px;
    margin-top: -1px;
}
.blog__arrow {
    margin: 0 20px;
    margin-left: 18px;
}
.blog-link{
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #1E0606;
    opacity: 0.5;
    margin-left: 4px;
    text-decoration: none;
}
.blog__wrapper {
    display: flex;
    
}
.blog__link{
    display: block;
    height: 100%;
    color: #000;
    text-decoration: none;
    
}

.blog__wrapper-two{
    display: flex;
    
}
.blog__item {
    width: 380px;
    margin-left: 20px;
}
.blog__item:first-child{
    margin: 0;
}
.blog__date {
    margin-bottom: 7px;
    color: #818181;
}
.blog__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    margin-top: 0;
    margin-bottom: 15px;
    color: #1E0606;
}
.blog__subtitle:hover{
    text-decoration-line: underline;
}
.blog__subtitle:active{
    text-decoration-line: underline;
}
.blog__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 13px;
    margin-top: 0;
    padding-bottom: 20px;
}
.blog__select-button {
    display: flex;
    justify-content: space-between;
    margin-bottom: -12px;
}
.blog__btn{
    padding-top: 13px;
    border: 0;
    background-color: #fff;
}
.blog__number{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}
.blog__number:first-child{
    color: #C29974;
}
.blog__number:hover{
    opacity: 0.5;
}
.blog__list-button {
    display: flex;
    list-style: none;
    margin-top: 19px;
    margin-left: 27px;
}
.blog__number{
    margin-right: 64px;
}

















