body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}
.container {
    max-width: 1400px;
    padding-left: 110px;
    padding-right: 110px;
    margin: 0 auto;
    box-sizing: border-box;
}
.link-nav {
    font-size: 14px;
    line-height: 19px;
    font-weight: normal;
    margin-left: 20px;
    color: #1E0606;
    text-transform: uppercase;
    text-decoration: none;
}
.link-nav:hover{
    opacity: 0.5;
}
.link-nav:active{
    opacity: 0.2;
}
.link {
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-decoration: none;
    color: #1E0606;
}
.button {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}


/*HEADER
==================*/

.header {
    margin-top: 50px;
    margin-bottom: 60px;
}

.header__wrapper {
    display: flex;
}
.header__logo:hover{
    opacity: 0.5;
}
.header__logo:active{
    opacity: 0.2;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.header__nav-list {
    display: flex;
    list-style: none;
    margin-top: 8px;
    margin-left: 2px;
}
.header__contact{
    display: flex;
    margin-right: 2px;
    margin-top: -2px;
}
.header__search {
    margin-right: 24px;
    margin-left: -1px;
    margin-top: 1px;
}
.header__search:hover{
    opacity: 0.5;
}
.header__search:active{
    opacity: 0.2;
}
.header__button {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
    text-transform: uppercase;
    text-decoration: none;
}
.header__button:hover{
    opacity: 0.5;
}
.header__button:active{
    opacity: 0.2;
}

/*Footer
==================*/

.footer {
    width: 100%;
    background: #434343;
    padding: 100px 0;
}
.footer__wrapper {
    display: flex;
    justify-content: space-between;
}
.footer__title {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin-top: 0;
    color: #AAAAAA;
}
.footer__border{
    margin-bottom: 25px;
    box-sizing: border-box;
    width: 380px;
    border: 1px solid #666666;
}
.footer__list{
    padding-left: 0px;
    padding-top: 4px;
    margin-left: 1px;
    margin-bottom: 28px;
}
.footer__link {
    margin-bottom: 15px;
    color: #FFFFFF;
    list-style: none;
}
.footer__email {
    width: 299px;
    height: 40px;
    padding-left: 15px;
    margin-top: 1px;
    border: 0;
    background-color:#666;
    box-sizing: border-box;
}
.footer__email:hover{
    border: 1px solid #FFFDFD;
    
}

.footer__button {
    padding: 9px 22px;
    text-align: center;
    background-color: black;
    margin-left: -4px;
    text-transform: uppercase;
    border: 0;
    box-sizing: border-box;
}
.footer__icon {
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-top: 25px;
    margin: 0;
    list-style: none;
}
.footer__ic {
   margin-right: 10px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: -3px;
}
.footer__link-icon{
    display: flex;
    width: 29px;
    height: 29px;
    border: 1px solid #666666;
    border-radius:50%;
    background: #666666;
    margin: 0;
}
.footer__link-icon:hover{
opacity: 0.5;
}
.footer__link-icon:active{
opacity: 0.2;
}
.footer__svg{
    display: block;
    margin: auto;
}
.footer__svg:hover{
    opacity: 0.5;
}
.footer__svg:active{
    opacity: 0.2;
}
.footer__border-bottom{
    margin-bottom: 26px;
    width: 1180px;
    box-sizing: border-box;
    border: 1px solid #666666;
}
.footer__bottom-rating {
    display: flex;
    align-items: center;
}
.footer__bottom-title{
    margin-top: 0;
    color:#fff;
}
.footer__title-link{
    color: #fff;
    text-decoration: none;
}
.footer__title-link:hover{
    color: #C29974;
}
.footer__bottom-list {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 14px;
    padding-left: 23px;
    list-style: none;
}
.footer__list-link{
    color: #fff;
    text-decoration: none;
}
.footer__list-link:hover{
    opacity: 0.5;
}
.footer__list-link:active{
    opacity: 0.2;
}
.footer__star{
    
}
.footer__star-link{
    width: 17px;
    height: 17px;
    border:0;
    margin-left: 5.8px;
    background-repeat: no-repeat;
    background-size: 17px auto;
}
.star__svg:hover{
    background-image:#836E5B;
    opacity: 0.2;
}
.star__svg:active{
    background-image: #C29974;
    opacity: 0.5;
}
.footer__bottom-subtitle{
    margin-left: 46px;
    margin-top: 0;
    color: #fff;
}
.footer__title-web {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin-top: 0;
    padding-right: 81px;
    color: #AAAAAA;
}
.footer__title-web:hover{
    text-decoration-line: underline;
    color:#fff;
}