/*CONTACT
=================*/ .contact__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
}

.contact__select {
    display: flex;
    align-items: center;
}

.contact__arrow {
    margin: 0 20px;
}

.contact__name {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 20px;
}

.contact__line-name {
    width: 600px;
    height: 50px;
}

.contact__line-item {
    display: flex;
    margin-bottom: 43px;
}

.contact__phone {
    display: flex;
    flex-flow: column wrap;
}

.contact__line-phone {
    width: 290px;
    height: 50px;
    margin-right: 20px;
}

.contact__email {
    display: flex;
    flex-flow: column wrap;
}

.contact__line-email {
    width: 290px;
    height: 50px;
}

.contact__massage {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 22px;
}

.contact__line-text {
    width: 600px;
    height: 150px;
}

.contact__consent {
    margin-bottom: 17px;
}

.contact__button {
    width: 106px;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    background: #000;
    color: #FFF;
    border: 0;
}

.contact__subtext {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    color: #C29974;
    text-transform: uppercase;
}
