/* INTRO
===================*/

.intro {
    margin-bottom: 90px;
    margin-top: -6px;
    padding-top: 69px;
    
}
.intro__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #EEE4DB;
    padding-bottom: 17px;

}
.intro__wrap {
    position: relative;
    margin-top: 17px;
}
.intro__number {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 73px;
    margin-left: 28px;
    color: #E4D9D0;
}
.intro__blog {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
    margin-top: -7px;
}
.intro__list {
    margin-bottom: 0;
    margin-top: 19px;
    padding-left: 31px;
    list-style: none;
}
.intro__btn-one {
    display: block;
    margin-bottom: 11px;
    width: 31px;
    height: 3px;
    background-color: #715F5B;
    border: 0;
}
.intro__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 11px;
    width: 31px;
    height: 3px;
    background-color: #D6CAC2;
    border: 0;
}
.intro__btn:hover{
    background-color: #725F5B;
}
.intro__item {
    margin-left: 73px;
    margin-bottom: 73px;
    margin-top: -12px;
}
.intro__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 45px;
    width: 307px;
    margin-top: 20px;
    margin-bottom: 0;
    text-transform: uppercase;
}
.intro__logo-inner{
    margin-top: 0;
}
.intro__logo {
    position: absolute;
    top: 142px;
    right: 221px;
}
.intro__subtitle {
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    margin-top: 15px;
}
.intro__button {
    padding: 9px 22px;
    text-transform: uppercase;
    margin-top: 2px;
    background-color: black;
    border: 0;
}
.intro__button:hover{
    background-color: #C29974;
}
.intro__button:active{
    background-color: #CFAF91;
}
.intro__button-link{
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    color: #fff;
}
.intro__button-link:hover{
    background-color: #C29974;
}
.intro__button-link:active{
    background-color: #CFAF91;
}
.intro__content-block {
    background-color: #C29974;
    
}
.itro__content {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    
    margin-right: -4px;
    padding: 11px 0;
}


/* SERVICES
===================*/

.services {
    margin-bottom: 90px;
}
.services__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    padding-left: 1px;
    padding-top: 2px;
    text-transform: uppercase;
}
.services__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: -3px;
    padding-left: 0;
    margin-bottom: 0;
}
.services__block {
    position: relative;
    list-style: none;
}
.services__link{
    display: block;
    text-align: center;
    height: 100%;
    color:#fff;
    text-decoration: none;
}
.services__sub-one {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    position: absolute;
    width: 129px;
    top: 78px;
    left: 77px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
.services__sub-one:hover{
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
}
.services__sub-two {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    position: absolute;
    width: 155px;
    top: 78px;
    left: 63px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
.services__sub-two:hover{
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
}
.services__sub-three {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    position: absolute;
    top: 94px;
    left: 106px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
.services__sub-three:hover{
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
}
.services__sub-four {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    position: absolute;
    top: 94px;
    left: 46px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
.services__sub-four:hover{
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
}
.services__select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 27px;
}
.services__btn {
    margin-right: 6px;
    border: 0;
    padding: 0;
    background: rgba(112, 187, 220, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.services__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding-left: 15px;
    width: 580px;
}


/* DELIVERY
===================*/

.delivery {
    margin-bottom: 90px;
}
.delivery__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.delivery__logo {
    margin-right: 120px;
    padding-left: 2px;
}
.delivery__content {
    padding-right: 100px;
}
.delivery__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 0;
    text-transform: uppercase;
}
.delivery__list {
    margin-bottom: 32px;
    padding-left: 0;
}
.delivery__category-one{
    position: relative;
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    list-style: none;
    margin-bottom: 22px;
}
.delivery__category {
    position: relative;
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    list-style: none;
    margin-bottom: 22px;
}
.delivery__border{
    position: absolute;
    top: -11px;
    left: -67px;
    height: 55px;
    width: 326px;
    background: rgba(112, 187, 220, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.delivery__subtext {
    margin-bottom: 26px;
}
.delivery__button {
    width: 149px;
    height: 40px;
    text-transform: uppercase;
    background-color: black;
    border: 0;
}


/* PARTNERS
===================*/

.partners {
    margin-bottom: 116px;
}
.partners__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    margin-top: -5px;
    padding: 0;
}


/* MAP
===================*/

.map {
    margin-bottom: 147px;
}
.map__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.map__design {
    margin-right: 82px;
    margin-top: -5px;
}
.map__design-wrap {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 35px;
    margin-right: 5px;
    background-color: #E1F0F7;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.map__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    margin-top: -56px;
    margin-left: 2px;
    margin-bottom: 9px;
    text-transform: uppercase;
}
.map__text {
    padding-right: 9px;
    margin-left: 1px;
    margin-top: 12px;
}
.map__sub {
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    margin: 0;
}
.map__button {
    width: 123px;
    height: 40px;
    margin-top: 5px;
    background-color: black;
    text-transform: uppercase;
    border: 0;
}
.map__contacts {
    margin: 0;
    padding: 0;
}
.map__contacts-wrap {
    padding-top: 41px;
    padding-bottom: 101px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 35px;
    margin-left: -30px;
    margin-top: -6px;
    background-color: #E1F0F7;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.map__title-cont {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    margin-top: -65px;
    padding: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.map__text-cont {
    padding-right: 7px;
    margin: 0;
}
.map__img {
    position: absolute;
    top: 121px;
    left: 630px;
}


/* POPUP
===================*/
.contact__popup-overlay{
    position: fixed;
    display: none;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(125, 151, 218, 0.8);
}
.contact__popup-overlay.open{
    display: block;
}
.contact__popup-overlay.open .popup{
    display:block;
}
.popup{
    position: fixed;
    display: none;
    top: 113px;
    left: 50%;
    width: 680px;
    margin-left: -340px;
}
.popup .button__close{
    position: absolute;
    top: 0;
    right: -24px;
    width: 15px;
    height: 15px;
    background-image: url('../images/svg/close-btn.svg');
    background-repeat: no-repeat;
    background-color: #97ace1;
    background-position: center;
    border: 0;
}
.popup .button__close:hover{
    opacity: 0.5;
}
.popup .button__close:active{
    opacity: 0.3;
}
.popup__form {
    width: 680px;
    padding: 42px 40px;
    background-color: #E5EAF8;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.popup__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
}
.popup__form-name {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-top: 14px;
    padding-bottom: 11px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.popup__form-name:hover{
    border: 3px solid rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.popup__form-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 43px;
}
.popup__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.popup__email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.popup__phone-email {
    width: 290px;
    height: 50px;
    padding-left: 20px;
    padding-top: 14px;
    padding-bottom: 11px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.popup__phone-email:hover{
    border: 3px solid rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.popup__massage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.popup__textarea {
    width: 100%;
    height: 150px;
    padding-left: 20px;
    padding-top: 14px;
    padding-bottom: 11px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 22px;
}
.popup__textarea:hover{
    border: 3px solid rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.popup__button {
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    width: 106px;
    height: 40px;
    margin-top: 22px;
    text-transform: uppercase;
    background-color: #C1C1C1;
    opacity: 1;
    border: 0;
}
.popup__input{
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.popup__checkbox{
    position: absolute;
    width: 19px;
    height: 19px;
    background-image: url(../images/svg/contact-off.svg);
}
.popup__input:checked + .popup__checkbox{
    width: 19px;
    height: 19px;
    background-image: url(../images/svg/toys.svg);
}
.popup__text{
    font-size: 14px;
    line-height: 16px;
    padding-left: 30px;
}











