/*TOYS
=====================*/
.toys__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.toys__select {
    margin-bottom: 50px;
}

.toys__arrow {
    margin: 0 20px;
}

.toys__form {
    width: 100%;
    background: #e5eaf8;
    margin-bottom: 60px;
}

.toys__wrap {
    display: flex;
    justify-content: space-between;
}

.toys__wrapper {}

.toys__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
}

.toys__icon {
    margin-bottom: 45px;
}

.toys__link {
    text-decoration: none;
}

.toys__title-list {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1E0606;
    text-transform: uppercase;
}

.toys__price {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1E0606;
}

.toys__select-button {
    display: flex;
    justify-content: space-between;
}

.toys__list-button {
    display: flex;
    list-style: none;
}