/*TOYS
=====================*/
.toys{
    margin-bottom: 60px;
}
.toys__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.toys__select {
    margin-bottom: 50px;
}
.toys-link{
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #1E0606;
    opacity: 0.5;
    text-decoration: none;
}
.toys__arrow {
    margin: 0 20px;
}

.toys__wrapper {
    width: 100%;
    background: #e5eaf8;
    margin-bottom: 60px;
}
.toys__form{
    padding-left: 110px;
    padding-right: 195px;
    padding-top: 42px;
    padding-bottom: 42px;
}
.toys__wrap {
    display: flex;
    justify-content: space-between;
    width: 1095px;
    margin: 0 auto;
    box-sizing: border-box;
}
.toys__item{
    display: flex;
    margin-bottom: 16px;
    
}
.toys__border{
    width: 46px;
    height: 4px;
    margin-left: 5px;
    background-color: #C29974;
}
.toys__img{
    position: absolute;
    width: 24px;
    height: 24px;
    margin-top: -10px;
    margin-left: 43px;
    background-image: url(../images/svg/cost.svg);
}
.toys__border-two{
    width: 142px;
    height: 4px;
    background-color: #73757C;
}
.toys__numeral{
    display: flex;
    
}
.toys__numer-two{
    position: absolute;
    margin-left: 177px;
}
.toys__items{
    margin-bottom: 15px;
}
.toys__input{
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
}
.toys__colors{
    padding-left: 27px;
}
.toys__checkbox{
    position: absolute;
    width: 19px;
    height: 19px;
    background-image: url(../images/svg/contact-off.svg);
}
.toys__input:checked + .toys__checkbox{
    width: 19px;
    height: 19px;
    background-image: url(../images/svg/toys.svg);
}
.toys__shipping-items{
    margin-bottom: 10px;
}
.toys__delivery-input{
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.toys__shipping{
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../images/svg/shipping.svg);
}
.toys__color-item{
   padding-left: 28px;
}
.toys__delivery-input:checked + 
.toys__shipping{
    width: 20px;
    height: 20px;
    background-image: url(../images/svg/shipping-two.svg);
}
.toys__amount-item{
    display: flex;
}
.toys__amount-input{
     position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.toys__amount-one{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 35px;
    background: #fff;
}
.toys__amount-number{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 35px;
    background: #fff;
    
}
.toys__amount-number:hover{
 opacity: 0.3;
    
}
.toys__amount-one{
    background: #F3D0DB;
}
.toys__form-btn{
    margin-top: 67px;
}
.toys__button{
    width: 95px;
    height: 40px;
    background-color: #000;
    border: 0;
}
.toys__fieldset{
    border: 0;
}
.toys__catalog{
    width: 1180px;
    margin:0 auto;
}
.toys__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:0;
    list-style: none;
}
.toys__icon {
    margin-bottom: 45px;
    
}
.toys__link {
    text-decoration: none;
}
.toys__title-list {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1E0606;
    text-transform: uppercase;
}
.toys__price {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1E0606;
}

.toys__select-button {
    display: flex;
    justify-content: space-between;
}
.toys__number{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    margin-right: 64px;
    text-decoration: none;
    text-transform: uppercase;
}
.toys__number:first-child{
    color: #C29974;
}
.toys__number:hover{
    opacity: 0.5;
}
.toys__btn{
    margin-top: 15px;
    border: 0;
}
.toys__list-button {
    display: flex;
    list-style: none;
}
